@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Jockey One", sans-serif;
}

body {
    background-color: #AFDDE5;
}

#nav_container {
    font-size: 35px;
    color: #964734;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

#nav_title {
    color: #964734;
    text-decoration: none;
    position: absolute;
}

#nav_title a:visited {
    color: #964734;
}


#git_img {
    padding-top: 4px;
    fill: currentColor;
    display: block;
    height: auto;
}

#nav_buttons a{
    float: right;
    text-decoration: none;
    color: #964734;
    padding-left: 30px;
    align-items: center;
    transition: 0.3s;
}

#nav_buttons a:hover {
    color: rgb(43, 100, 255);
}

#nav_container p {
    float: left;
}

.intro {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    column-gap: 10px;
    color: #002528;
    font-size: x-large;
    width: 100%;
    align-items: center;
}

@media screen and (max-width: 1360px) {
    .img_container {
        display: flex;
        align-items: self-start;
    }
}

.intro_text {
    padding-top: 100px;
    text-align: center;
}

.divider {
    width: 30px;
    display: inline-block;
    position: relative;
}

.btn_container {
    padding-top: 20px;
}

.img_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 5%;
    padding-bottom: 5%;
    width: 100%;
    padding-left: 15%;
    padding-top: 2.5%;
    background-color: #7aaeb8;
}

.project {
    background-color: #964734;
    text-align: center;
    padding-top: 5%;
    border-radius: 25px;
    padding-bottom: 10%;
    color: rgb(255, 255, 255);
} 

.img_container img {
    width: 90%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.img_container img:hover {
    transition: transform .2s;
}

.img_container img:hover {
    transform: scale(105%);
}

hr.solid {
    border-top: 3px solid #024950;
    padding: 20px;
}


footer {
    height: 70px;
    background-color: #0FA4AF;
    text-align: center;
}